<?xml version="1.0"?>
<!--
/**
 * Copyright © Panth Infotech. All rights reserved.
 * ACL Resources
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Panth_PerformanceDebugger::root" title="Performance Debugger" sortOrder="100">
                    <resource id="Panth_PerformanceDebugger::runs" title="Profiler Runs" sortOrder="10"/>
                    <resource id="Panth_PerformanceDebugger::export" title="Export Reports" sortOrder="20"/>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Panth_PerformanceDebugger::config" title="Performance Debugger Configuration" sortOrder="180"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
